<div id="main-nav-wrap">
	<div class="relative">
		<div class="background"></div>
		<div id="main-logo">
			<img src="/solver-website-logo.png" alt="Solver website logo">
		</div>
		<nav aria-label="Main">
			<ul>
				<li>
					<a href="/">PoÄetna</a>
				</li>
				<li>
					<a href="/">Usluge</a>
				</li>
				<li>
					<a href="/">Portfolio</a>
				</li>
				<li>
					<a href="/">O nama</a>
				</li>
				<li>
					<a href="/">Kontakt</a>
				</li>
			</ul>
		</nav>	
	</div>
</div>
