<div id="main-nav-wrap">
	<div class="relative">
		<div class="background"></div>
		<div id="main-logo">
			<img src="/solver-website-logo.png" alt="Solver website logo">
		</div>
		<div id="responsive-menu-opener" onclick="openResponsiveMenu()">
			<div class="relative">
				<div class="arrow" id="top-arrow"></div>
				<div class="arrow" id="middle-arrow"></div>
				<div class="arrow" id="bottom-arrow"></div>
			</div>
		</div>
		<nav aria-label="Main" id="main-menu">
			<ul>
				<li>
					<a href="/">Početna</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/usluge">Usluge</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/">Portfolio</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/">O nama</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/">Kontakt</a>
				</li>
			</ul>
		</nav>	
	</div>
</div>
