<%- include ("partials/header") -%>
<div class="pageHeader section" id="home-header">
	<img src="/Solver-Projekti.jpg" alt="Solver projekti" id="main-image">
	<div class="overlay"></div>
	<div class="content">
		<img id="header-logo" src="/Solver-logo-beli.png" alt="Solver logo beli" class="headerLogo">
		<h1 class="pageTitle">Softverska optimizacija poslovanja</h1>
		<div class="separator"></div>
		<div class="inlineWrap">
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
					<img class="coloredIcon" src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
					<h2 class="pageSubtitle"><span>Softveri</span></h2>
					<div class="moreInfo">
						<div class="text">
							Pravimo prilagođena softverska rešenja koja će uštedeti vreme vama i vašim zaposlenima i doneti vidljiv boljitak u poslovanju. Sve je moguće realizovati "od nule" ili integrisati u postojeću strukturu.
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-aplikacije-ikonica.png" alt="Solver aplikacije ikonica">
					<img class="coloredIcon" src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
					<h2 class="pageSubtitle"><span>Aplikacije</span></h2>
					<div class="moreInfo">
						<div class="text">
							Želeli biste da vidite sve što vam treba za poslovanje na telefonu/tabletu ili imate ideju za aplikaciju koju biste plasirali na tržište? Solver je tu za vas da vam donese moć aplikacija.
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-sajtovi-ikonica.png" alt="Solver sajtovi ikonica">
					<img class="coloredIcon" src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
					<h2 class="pageSubtitle"><span>Sajtovi</span></h2>
					<div class="moreInfo">
						<div class="text">
							Potrebane su vam prepravke na postojećem ili potpuno novi sajt? Kontaktirajte nas kako bismo našli savršeno i ekonomično rešenje za imidž vašeg biznisa.
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-dokumenti-ikonica.png" alt="Solver dokumenti ikonica">
					<img class="coloredIcon" src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					<h2 class="pageSubtitle"><span>Dokumenti</span></h2>
					<div class="moreInfo">
						<div class="text">
							Microsoft Office paket je pun funkcija koje štede vreme prilikom rada. Oslobodite se gubljenja vremena u kopiranju i sortiranju podataka i otključajte pun potencijal MS Office paketa sa nama. 
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown relative" onclick="scrollToElem(document.getElementById('home-why'))">
		<img src="/down-arrow.png" class="arrow" alt="Down arrow icon">
		<img src="/down-arrow-with-shadow.png" class="arrowHover" alt="Down arrow icon with shadow">
	</div>
</div>
<div class="white section relative" id="home-why">
	<div class="scrollAnchor"></div>
	<div class="contentWidth">
		<div class="dualContent">
			<div class="textContent">
				<div class="bigTitle">Zašto?</div>
				<div class="titleSeparator"></div>
				<div class="bigText">
					Softverska rešenja ne moraju biti stvar luksuza. Solver je tu da pruži ekonominčnu softversku podršku bilo kom biznisu.<br><b>Podignimo zajedno naše poslovanje na sledeći nivo.</b>
				</div>
				<div class="title">Prilagođena rešenja</div>
				<div class="text">
					Tačno ono što vam je potrebno, ni manje, ni više. Pravimo rešenja po vašoj specifikaciji i budžetu. Ukoliko nemate specifikaciju možemo zajedno doći do nje besplatnom konsultacijom.
				</div>
				<div class="title">00-24 Instant podrška</div>
				<div class="text">
					Kako bismo obezbedili neometanu funkciju naših rešenja tu smo za Vas u bilo koje doba dana i noći šta god da je potrebno. Rešavamo bilo koju vrstu problema u što kraćem roku.
				</div>
				<div class="title">Maksimalna ušteda</div>
				<div class="text">
					Tu smo da sa našim rešenjima donesemo što veću uštedu vremena i novca vašem biznisu. Nudimo Vam najeftinija softverska rešenja na tržištu uz mogućnost otplate na rate (bez banki i kredita). Zakažite besplatnu konsultaciju kako bismo pronašli idealno rešenje za vaše poslovanje.
				</div>
			</div>
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
		</div>
	</div>
</div>
<div class="gradientBackground section" id="home-offer">
	<div class="contentWidth">
		<div class="bigTitle center">Šta Vam nudimo?</div>
		<div class="titleSeparator centered"></div>
		<div class="inlineWrap">
			<div class="inline">
				<div class="title">Softveri</div>
				<div class="textBox">
					<div class="text">
						Pravimo prilagođena softverska rešenja koja će uštedeti vreme vama i vašim zaposlenima i doneti vidljiv boljitak u poslovanju. Sve je moguće realizovati "od nule" ili integrisati u postojeću strukturu.
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="title">Aplikacije</div>
				<div class="textBox">
					<div class="text">
						Želeli biste da vidite sve što vam treba za poslovanje na telefonu/tabletu ili imate ideju za aplikaciju koju biste plasirali na tržište? Solver je tu za vas da vam donese moć aplikacija.
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="title">Sajtovi</div>
				<div class="textBox">
					<div class="text">
						Potrebane su vam prepravke na postojećem ili potpuno novi sajt? Kontaktirajte nas kako bismo našli savršeno i ekonomično rešenje za imidž vašeg biznisa.
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Dokumenti</div>
				<div class="textBox">
					<div class="text">
						Microsoft Office paket je pun funkcija koje štede vreme prilikom rada. Oslobodite se gubljenja vremena u kopiranju i sortiranju podataka i otključajte pun potencijal MS Office paketa sa nama. 
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Podrška</div>
				<div class="textBox">
					<div class="text">
						Tu smo da vam pružimo IT podršku i damo besplatne savete i smernice. Napravimo zajedno autoput ka većem uspehu u poslovanju kroz optimizaciju IT strukture.
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Ušteda</div>
				<div class="textBox">
					<div class="text">
						Pronađimo zajedno način kako da uštedite vreme i novac kroz softerska rešenja uz minimalnu investiciju. Zakažite besplatnu konsultaciju kako bismo skrojili najbolje ekonomično rešenje skrojeno baš za Vas.
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="white section" id="home-about">
	<div class="contentWidth">
		<div class="dualContent">
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom naših karijera u raznim kompanijama videli smo mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga smo videli potrebu da oformimo tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Tim Solver<span class="role">, Osnivači</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<h1>Test</h1>
Abhjs dshfjbd dfshj <a href="/">Test</a> hsakjs dhajdx

Prilagodjena resenja
00-24 instant podrska
Maksimalna usteda

Softveri aplikacije sajtovi dokumenti-->

<%- include ("partials/footer") -%>
