<%- include ("partials/header") -%>
<div class="pageHeader">
	<img src="/Solver-Projekti.jpg" alt="Solver projekti">
	<div class="overlay"></div>
	<div class="content">
		<img id="header-logo" src="/Solver-logo-beli.png" alt="Solver logo beli" class="headerLogo">
		<h1 class="pageTitle">Softverska optimizacija poslovanja</h1>
		<div class="inlineWrap">
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
					<img class="coloredIcon" src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
					<h2 class="pageSubtitle">Softveri</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-aplikacije-ikonica.png" alt="Solver aplikacije ikonica">
					<img class="coloredIcon" src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
					<h2 class="pageSubtitle">Aplikacije</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-sajtovi-ikonica.png" alt="Solver sajtovi ikonica">
					<img class="coloredIcon" src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
					<h2 class="pageSubtitle">Sajtovi</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-dokumenti-ikonica.png" alt="Solver dokumenti ikonica">
					<img class="coloredIcon" src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					<h2 class="pageSubtitle">Dokumenti</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h1>Test</h1>
Abhjs dshfjbd dfshj <a href="/">Test</a> hsakjs dhajdx

Softveri aplikacije sajtovi dokumenti

<%- include ("partials/footer") -%>
