<%- include ("partials/header") -%>
<div class="pageHeader section" id="home-header">
	<img src="/Solver-Projekti.jpg" alt="Solver projekti" id="main-image">
	<div class="overlay"></div>
	<div class="content">
		<img id="header-logo" src="/Solver-logo-beli.png" alt="Solver logo beli" class="headerLogo">
		<h1 class="pageTitle">Softverska optimizacija poslovanja</h1>
		<div class="inlineWrap">
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
					<img class="coloredIcon" src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
					<h2 class="pageSubtitle">Softveri</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-aplikacije-ikonica.png" alt="Solver aplikacije ikonica">
					<img class="coloredIcon" src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
					<h2 class="pageSubtitle">Aplikacije</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-sajtovi-ikonica.png" alt="Solver sajtovi ikonica">
					<img class="coloredIcon" src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
					<h2 class="pageSubtitle">Sajtovi</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="animBackground relative">
					<img class="icon" src="/Solver-dokumenti-ikonica.png" alt="Solver dokumenti ikonica">
					<img class="coloredIcon" src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					<h2 class="pageSubtitle">Dokumenti</h2>
					<div class="moreInfo">
						<div class="text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						</div>
						<div class="moreButton">
							Opširnije
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollDown relative">
		<img src="/down-arrow.png" class="arrow" alt="Down arrow icon">
		<img src="/down-arrow-with-shadow.png" class="arrowHover" alt="Down arrow icon with shadow">
	</div>
</div>
<div class="white section" id="home-why">
	<div class="contentWidth">
		<div class="dualContent">
			<div class="textContent">
				<div class="bigTitle">Zašto?</div>
				<div class="titleSeparator"></div>
				<div class="bigText">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
				<div class="title">Prilagođena rešenja</div>
				<div class="text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
				<div class="title">00-24 Instant podrška</div>
				<div class="text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
				<div class="title">Maksimalna ušteda</div>
				<div class="text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
			</div>
			<div class="imageContent">
				<div style="height:500px;background: rgb(19,170,82);background: linear-gradient(0deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);"></div>
			</div>
		</div>
	</div>
</div>
<div class="gradientBackground section" id="home-offer">
	<div class="contentWidth">
		<div class="bigTitle center">Šta Vam nudimo?</div>
		<div class="titleSeparator centered"></div>
		<div class="inlineWrap">
			<div class="inline">
				<div class="title">Softveri</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="title">Aplikacije</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline">
				<div class="title">Sajtovi</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Dokumenti</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Podrška</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
			<div class="inline inlinebellow">
				<div class="title">Ušteda</div>
				<div class="textBox">
					<div class="text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</div>
					<div class="moreButton">
						Opširnije
					</div>
					<div class="background"></div>
					<div class="icon">
						<img src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="white section" id="home-about">
	<div class="contentWidth">
		<div class="dualContent">
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" alt="Solver o nama">
			</div>
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s <span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivankovic<span class="role">, Founder</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<h1>Test</h1>
Abhjs dshfjbd dfshj <a href="/">Test</a> hsakjs dhajdx

Prilagodjena resenja
00-24 instant podrska
Maksimalna usteda

Softveri aplikacije sajtovi dokumenti

<%- include ("partials/footer") -%>
