<%- include ("partials/header") -%>
<div class="pageHeaderFluent">
	<div class="pageTitleImage">
		<img src="/Usluge-naslov.png" alt="Naslov usluge">
	</div>
	<div class="inline" onclick="scrollToElem(document.getElementById('softveri'))">
		<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
		<img class="coloredIcon" src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
		<div class="title">Softveri</div>
		<div class="moreButton">Opširnije</div>
	</div>
	<div class="inline" onclick="scrollToElem(document.getElementById('aplikacije'))">
		<img class="icon" src="/Solver-aplikacije-ikonica.png" alt="Solver aplikacije ikonica">
		<img class="coloredIcon" src="/Solver-aplikacije-ikonica-obojena.png" alt="Solver aplikacije ikonica obojena">
		<div class="title">Aplikacije</div>
		<div class="moreButton">Opširnije</div>
	</div>
	<div class="inline" onclick="scrollToElem(document.getElementById('sajtovi'))">
		<img class="icon" src="/Solver-sajtovi-ikonica.png" alt="Solver sajtovi ikonica">
		<img class="coloredIcon" src="/Solver-sajtovi-ikonica-obojena.png" alt="Solver sajtovi ikonica obojena">
		<div class="title">Sajtovi</div>
		<div class="moreButton">Opširnije</div>
	</div>
	<div class="inline" onclick="scrollToElem(document.getElementById('dokumenti'))">
		<img class="icon" src="/Solver-dokumenti-ikonica.png" alt="Solver dokumenti ikonica">
		<img class="coloredIcon" src="/Solver-dokumenti-ikonica-obojena.png" alt="Solver dokumenti ikonica obojena">
		<div class="title">Dokumenti</div>
		<div class="moreButton">Opširnije</div>
	</div>
	<div class="inline" onclick="scrollToElem(document.getElementById('podrska'))">
		<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
		<img class="coloredIcon" src="/Solver-softveri-ikonica-obojena.png" alt="Solver softveri ikonica obojena">
		<div class="title">Podrška</div>
		<div class="moreButton">Opširnije</div>
	</div>
</div>

<div class="white section">
	<div class="contentWidth bigSection paddedTopBottom">
		<div class="title">Klijent na prvom mestu</div>
		<div class="separator"></div>
		<div class="text">
			<p>Softverska rešenja ne moraju biti stvar luksuza. Solver je tu da pruži ekonominčnu softversku podršku bilo kom biznisu. <b>Podignimo zajedno naše poslovanje na sledeći nivo.</b></p>
			<p>Tačno ono što vam je potrebno, ni manje, ni više. Pravimo rešenja po vašoj specifikaciji i budžetu. Ukoliko nemate specifikaciju možemo zajedno doći do nje besplatnom konsultacijom.</p>
			<p>Kako bismo obezbedili neometanu funkciju naših rešenja tu smo za Vas u bilo koje doba dana i noći šta god da je potrebno. Rešavamo bilo koju vrstu problema u što kraćem roku.</p>
		</div>
	</div>
</div>

<div class="white section relative" id="softveri">
	<div class="scrollAnchor"></div>
	<div class="greenTitle">
		<img class="icon" src="/Solver-softveri-ikonica.png" alt="Solver softveri ikonica">
		<img class="imageTitle" src="/Softveri-naslov.png" alt="Solver softveri naslov">
	</div>
	<div class="contentWidth paddedTopBottom">
		<div class="dualContent">
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom karijere u raznim kompanijama video sam mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga se stvorila potreba da se oformi tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivanković<span class="role">, Founder</span></div>
				</div>
			</div>
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
		</div>
	</div>
</div>

<div class="white section relative" id="aplikacije">
	<div class="scrollAnchor"></div>
	<div class="greenTitle">
		<img class="icon" src="/Solver-aplikacije-ikonica.png" alt="Solver aplikacije ikonica">
		<img class="imageTitle" src="/Aplikacije-naslov.png" alt="Solver aplikacije naslov">
	</div>
	<div class="contentWidth paddedTopBottom">
		<div class="dualContent">
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom karijere u raznim kompanijama video sam mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga se stvorila potreba da se oformi tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivanković<span class="role">, Founder</span></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="white section relative" id="sajtovi">
	<div class="scrollAnchor"></div>
	<div class="greenTitle">
		<img class="icon" src="/Solver-sajtovi-ikonica.png" alt="Solver sajtovi ikonica">
		<img class="imageTitle" src="/Sajtovi-naslov.png" alt="Solver sajtovi naslov">
	</div>
	<div class="contentWidth paddedTopBottom">
		<div class="dualContent">
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom karijere u raznim kompanijama video sam mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga se stvorila potreba da se oformi tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivanković<span class="role">, Founder</span></div>
				</div>
			</div>
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
		</div>
	</div>
</div>

<div class="white section relative" id="dokumenti">
	<div class="scrollAnchor"></div>
	<div class="greenTitle">
		<img class="icon" src="/Solver-dokumenti-ikonica.png" alt="Solver dokumenti ikonica">
		<img class="imageTitle" src="/Dokumenti-naslov.png" alt="Solver dokumenti naslov">
	</div>
	<div class="contentWidth paddedTopBottom">
		<div class="dualContent">
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom karijere u raznim kompanijama video sam mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga se stvorila potreba da se oformi tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivanković<span class="role">, Founder</span></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="white section relative" id="podrska">
	<div class="scrollAnchor"></div>
	<div class="greenTitle">
		<img class="icon" src="/Solver-podrska-ikonica.png" alt="Solver podrska ikonica">
		<img class="imageTitle" src="/Podrska-naslov.png" alt="Solver podrska naslov">
	</div>
	<div class="contentWidth paddedTopBottom">
		<div class="dualContent">
			<div class="textContent">
				<div class="bigTitle">O nama</div>
				<div class="titleSeparator"></div>
				<div class="text">
					Solver je tim stručnjaka koji konstantno prihvata nove izazove i ponosi se time što dostavlja rešenja u najkraćem mogućem roku uz minimalna ulaganja.<br>&nbsp;<br>
					Izgradili smo poverenje kod mnogih preduzeća pružajući kvalitetnu uslugu i besplatne savete u IT oblasti.<br>&nbsp;<br>
					Cenimo vreme naših klijenata pa je naša lokacija gde god je ona vama potrebna. Zakažite besplatnu konsultaciju i napravimo zajednički put ka uspehu.
				</div>
				<div class="quote">
					<p><span class="quoteMark">"</span>Tokom karijere u raznim kompanijama video sam mnogo neiskorišćenih IT resursa i ljudi koji misle da su softverska rešenja skupa i stvar luksuza. Stoga se stvorila potreba da se oformi tim koji će pomoći bilo malim ili velikim preduzećima da iskoriste moć postojećih ili novih softverskih rešenja uz minimalna ulaganja. Dobrodošli u Solver!<span class="quoteMark">"</span></p>
					<div class="signature">Milos Ivanković<span class="role">, Founder</span></div>
				</div>
			</div>
			<div class="imageContent">
				<img src="/Solver-O-nama.jpg" class="box" alt="Solver o nama">
				<img src="/Solver-O-nama-vertikalna.jpg" class="verticalStretch" alt="Solver o nama">
			</div>
		</div>
	</div>
</div>

<%- include ("partials/footer") -%>
