@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
    overflow-y: scroll;
    overflow-y: overlay;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block
}
body{
    margin:0;
    font-family: Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:rgb(59, 103, 90);
    text-align:left;
    background-color:#fff;
}

[tabindex="-1"]:focus{
    outline:0!important
}

b,strong{
    font-weight:bolder
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
a{
    color:rgb(17,97,73);
    text-decoration:none;
    font-weight:700;
    background-color:transparent;
    text-shadow: 0px 0px 2px rgba(19, 170, 82, 0);
    -webkit-transition:all ease 0.1s;
    -moz-transition:all ease 0.1s;
    -ms-transition:all ease 0.1s;
    -o-transition:all ease 0.1s;
    transition:all ease 0.1s;
}
a:hover{
    color:rgb(19, 170, 82);
    text-shadow: 0px 0px 2px rgba(19, 170, 82, 1);
}
pre{
    margin-top:0;
    margin-bottom:1rem;
    overflow:auto
}
img{
    vertical-align:middle;
    border-style:none;
    max-width:100%;
    display:block;
}
table{
    border-collapse:collapse
}
caption{
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#6c757d;
    text-align:left;
    caption-side:bottom
}
label{
    display:inline-block;
    margin-bottom:.5rem
}
button{
    border-radius:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
select{
    word-wrap:normal
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){
    cursor:pointer
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    padding:0;
    border-style:none
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
    -webkit-appearance:listbox
}
textarea{
    overflow:auto;
    resize:vertical
}
legend{
    display:block;
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:.5rem;
    font-size:1.5rem;
    line-height:inherit;
    color:inherit;
    white-space:normal
}
progress{
    vertical-align:baseline
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    outline-offset:-2px;
    -webkit-appearance:none
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    font:inherit;
    -webkit-appearance:button
}
[hidden]{
    display:none!important
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
  border-radius:3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(19,170,82);
    background: linear-gradient(90deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    border:1px solid rgba(255,255,255,0.7);
    border-radius:3px;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(17,97,73);
    background: linear-gradient(90deg, rgba(17,97,73,1) 0%, rgba(17,97,73,119,170,82,1) 100%);
}

.relative{
    position:relative;
}

.center{
    text-align:center;
}

.centered{
    margin-left:auto;
    margin-right:auto;
}


.scrollAnchor{
    position: absolute;
    top:-47px;
}

#main-nav-wrap{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    padding:10px 20px;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0);
    box-shadow: 0px 2px 2px rgba(0,0,0,0);
    -webkit-transition:all ease 0.1s;
    -moz-transition:all ease 0.1s;
    -ms-transition:all ease 0.1s;
    -o-transition:all ease 0.1s;
    transition:all ease 0.1s;
}

#main-nav-wrap nav{
    z-index:10;
    position:relative;
    display:inline-block;
    vertical-align: middle;
    width:70%;
    margin-left:-4px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

#main-nav-wrap nav ul:first-child{
    list-style: none;
    text-align:right;
    margin: 0;
    padding: 0;
}

#main-nav-wrap nav ul:first-child li{
    display: inline-block;
    margin-left:25px;
}

#main-nav-wrap nav ul:first-child .separator{
    display:none;
    width:50px;
    height:4px;
    background-color:rgb(255,255,255);
    -webkit-transform:skewX(-30deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg);
    margin:13px auto;

}

#main-nav-wrap nav ul:first-child li a:first-child{
    color:rgba(255,255,255,0.9);
    text-shadow:0px 2px 2px rgba(0,0,0,0);
    font-size:20px;
    font-weight:500;
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

#main-nav-wrap nav ul:first-child li a:first-child:hover{
    color:rgba(255,255,255,1);
    text-shadow:0px 2px 2px rgba(0,0,0,0.7);
}

#main-nav-wrap .opened{
    right:-20px;
    width:200px;
}

#responsive-menu-opener{
    display:none;
    width:50%;
    margin-left:-4px;
    text-align:right;
    position:relative;
    vertical-align: middle;
    z-index:50;
    margin-top:2px;
}


#responsive-menu-opener .relative{
    width:38px;
    height:28px;
    margin-left:auto;
    margin-right:0;
}

#responsive-menu-opener .arrow{
    width:100%;
    height:4px;
    background-color:rgb(255,255,255);
    border-radius:1px;
    position:absolute;
    left:0;
    right:0;
    -webkit-transform:skewX(-30deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg);
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

#responsive-menu-opener #top-arrow{
    top:0;
    -webkit-transform-origin:top left;
    -moz-transform-origin:top left;
    -ms-transform-origin:top left;
    -o-transform-origin:top left;
    transform-origin:top left;
}

#responsive-menu-opener #middle-arrow{
    top:12px;
    -webkit-transform-origin:top left;
    -moz-transform-origin:top left;
    -ms-transform-origin:top left;
    -o-transform-origin:top left;
    transform-origin:top left;
}

#responsive-menu-opener #bottom-arrow{
    bottom:0px;
    -webkit-transform-origin:top left;
    -moz-transform-origin:top left;
    -ms-transform-origin:top left;
    -o-transform-origin:top left;
    transform-origin:top left;
}

.responsiveMenuOpened #top-arrow{
    width:131%;
    -webkit-transform:skewX(-30deg) rotate(45deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg) rotate(28deg);
    height:3px;
}

.responsiveMenuOpened #middle-arrow{
    top:0 !important;
    width:131%;
    -webkit-transform:skewX(-30deg) rotate(45deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg) rotate(28deg);
    height:3px;
}

.responsiveMenuOpened #bottom-arrow{
    width:150%;
    -webkit-transform:skewX(-30deg) rotate(45deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg) rotate(-54deg);
    height: 5px;
    width: 80%;
    left: -3px;
}

#main-nav-wrap .background{
    position:absolute;
    z-index:5;
    top:-10px;
    left:-20px;
    bottom:-10px;
    right:120%;
    background: rgb(19,170,82);
    background: linear-gradient(90deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.main-nav-wrap-colored .relative .background{
    right:-20px !important;
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.6) !important;
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.6) !important;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.6) !important;
}

#main-logo{
    display:inline-block;
    vertical-align: middle;
    background-image:url('/solver-white-website-logo.svg');
    background-size:150px;
    background-repeat: no-repeat;
    background-position:left center;
    z-index: 10;
    position:relative;
    width:30%;
    text-align:left;
    vertical-align: middle;
    margin-right:-4px;
}

#main-logo img{
    opacity:0;
}

.copyrightWrap{
    background: rgb(19,170,82);
    background: linear-gradient(90deg , rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    color:rgb(255,255,255);
    padding:10px;
    text-align:left;
    position:relative;
}

.copyrightWrap .logoWrap{
    padding:10px 20px;
}

.copyrightWrap .logoWrap img{
    width:150px;
}

.copyrightWrap .copyright{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    line-height:58px;
}

.copyrightWrap .copyrightResponsive{
    display:none;
}

.pageHeader{
    position:relative;
    width:100%;
    height:100vh;
}

.pageHeader .overlay{
    background: rgb(19,170,82);
    background: radial-gradient(circle, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.88;
}

.pageHeader .content{
    position:absolute;
    top:50%;
    left:50%;
    z-index: 15;
    width:100%;
    text-align: center;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.pageHeader  .pageTitle{
    text-align: center;
    color: rgb(255,255,255);
    font-weight: 300;
    font-size: 40px;
    cursor:default;
}

.pageHeader .separator{
    border-radius: 2px;
    width: 173px;
    height: 2px;
    background-color: rgb(255,255,255);
    margin: 20px auto;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
    display: none;
}

.pageHeader .icon{
    margin:0 auto;
    opacity:1;
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -ms-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}

.pageHeader .inline{
    display:inline-block;
    vertical-align: top;
    width:200px;
    margin:0 25px;
    text-align: center;
}

.pageHeader .inline .animBackground{
    background-color:rgba(255,255,255,0);
    border-radius:2px;
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -ms-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}


.pageHeader .inline:hover .animBackground{
    background-color:rgba(255,255,255,1);
}

.pageHeader .pageSubtitle{
    color:rgb(255,255,255);
    font-weight:600;
    font-size:24px;
    margin:0;
    cursor:default;
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -ms-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}


.pageHeader .pageSubtitle span{
    margin-left:-100%;
    margin-right:-100%;
}

.pageHeader .inline:hover .pageSubtitle{
    color:rgb(17,97,73);
}

.pageHeader .inline .coloredIcon{
    position:absolute;
    top:0;
    left:50%;
    opacity: 0;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -ms-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}

.pageHeader .inline:hover .coloredIcon{
    opacity:1;
}

.pageHeader .inline:hover .icon{
    opacity:0;
}

.pageHeader #header-logo{
    margin:0 auto;
}

.pageHeader .inline .moreInfo{
    position:absolute;
    top:100%;
    bottom:0%;
    left:0;
    right:0;
    background-color:rgb(255,255,255);
    color:rgb(17,97,73);
    margin-top:-1px;
    border-radius:0px 0px 2px 2px;
    overflow:hidden;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.pageHeader .inline:hover .moreInfo{
    bottom:-120%;
}

.pageHeader .inline .moreInfo .text{
    padding-top:8px;
    padding-left:10px;
    padding-right:10px;
    font-size:13px;
    cursor:default;
    border-top:1px solid rgb(255,255,255);
    -webkit-transition:all ease 0.25s;
    -moz-transition:all ease 0.25s;
    -ms-transition:all ease 0.25s;
    -o-transition:all ease 0.25s;
    transition:all ease 0.25s;
}

.pageHeader .inline:hover .text{
    border-top:1px solid rgb(17,97,73);
}

.pageHeader .scrollDown{
    position:absolute;
    z-index:15;
    bottom:12px;
    left:50%;
    cursor:pointer;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

.pageHeader .scrollDown .arrow{
    opacity:1;
}

.pageHeader .scrollDown .arrowHover{
    opacity:0;
    position:absolute;
    top:0;
}

.pageHeader .scrollDown .arrow, .pageHeader .scrollDown .arrowHover{
    -webkit-transition:all ease 0.2s;
    -moz-transition:all ease 0.2s;
    -ms-transition:all ease 0.2s;
    -o-transition:all ease 0.2s;
    transition:all ease 0.2s;
}

.pageHeader .scrollDown:hover .arrow{
    opacity:0;
    transform:scale(1.2);
}

.pageHeader .scrollDown:hover .arrowHover{
    opacity:1;
    transform:scale(1.2);
}

.pageHeader .inline .moreInfo .moreButton{
    font-size:15px;
    font-weight:500;
    margin:0 auto;
    margin-top:15px;
    text-align:center;
    padding:5px 10px;
    color:rgb(255,255,255);
    cursor:pointer;
    border-radius:2px;
    width:50%;
    background-color:rgb(17,97,73);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.pageHeader .inline .moreInfo .moreButton:hover{
    background-color:rgb(19,170,82);
}

#home-header{
    background: url(/Solver-Projekti.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-header #main-image{
    display:none;
}

.contentWidth{
    width:1200px;
    margin:0 auto;
}

.paddedTopBottom{
    padding:50px 0;
}

#home-why{
    padding:100px 0;
}

.dualContent .textContent{
    width:50%;
    margin-left:-4px;
    display:inline-block;
    vertical-align: middle;
    padding:0px 10px;
}

.dualContent .imageContent{
    width:50%;
    margin-left:-4px;
    display:inline-block;
    vertical-align: middle;
}

.dualContent .imageContent img{
    border-radius:2px;
}

.dualContent .imageContent .verticalStretch{
    display:none;
}

.dualContent .textContent .bigTitle{
    font-size: 40px;
    font-weight:500;
    color:rgb(9, 47, 30);
}

.dualContent .textContent .titleSeparator{
    background: rgb(19,170,82);
    background: linear-gradient(90deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    border-radius:2px;
    width:122px;
    height: 10px;
    margin-bottom:10px;
    -webkit-transform:skewX(-40deg);
    -moz-transform:skewX(-40deg);
    -ms-transform:skewX(-40deg);
    -o-transform:skewX(-40deg);
    transform:skewX(-40deg);

}

.dualContent .textContent .title{
    font-size: 24px;
    font-weight:600;
    margin-top: 10px;
    color:rgb(9, 47, 30);
}

#home-offer{
    padding:100px 0;
}

.gradientBackground{
    background: rgb(19,170,82);
    background: linear-gradient(0deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    color:rgb(255,255,255);
    padding:20px 0;
}

.gradientBackground .bigTitle{
    color:rgb(255,255,255);
    font-size: 40px;
    font-weight:500;
}

.gradientBackground .titleSeparator{
    background: rgb(255,255,255);
    border-radius:2px;
    width:122px;
    height: 10px;
    margin-bottom:10px;
    -webkit-transform:skewX(-40deg);
    -moz-transform:skewX(-40deg);
    -ms-transform:skewX(-40deg);
    -o-transform:skewX(-40deg);
    transform:skewX(-40deg);
}

#home-offer .inlineWrap{
    text-align:center;
}

#home-offer .bigTitle{
    margin-bottom:15px;
}

#home-offer .inline{
    display:inline-block;
    vertical-align: top;
    width:300px;
    text-align:center;
    margin:15px 0px;
    margin-right:60px;
}

#home-offer .inline:nth-child(4){
    margin-left:-30px;
}

#home-offer .inlinebellow{
    margin-top:40px;
}

#home-offer .inline .title{
    font-size:35px;
    font-weight:300;
    margin-bottom:5px;
    width:100%;
    -webkit-transform:skewX(-10deg);
    -moz-transform:skewX(-10deg);
    -ms-transform:skewX(-10deg);
    -o-transform:skewX(-10deg);
    transform:skewX(-10deg);
    text-align: left;
    margin-left: 30px;
}

#home-offer .inline .textBox{
    position:relative;
    padding-top:10px;
    padding-bottom:45px;
    padding-left:20px;
    padding-right:5px;
    height:230px;
}

#home-offer .inline .textBox .background{
    background-color:rgb(255,255,255);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
    border-radius:2px;
    -webkit-transform:skewX(-10deg);
    -moz-transform:skewX(-10deg);
    -ms-transform:skewX(-10deg);
    -o-transform:skewX(-10deg);
    transform:skewX(-10deg);
}

#home-offer .inline .textBox .text{
    position:relative;
    z-index:20;
    color:rgb(59, 103, 90);
    text-align:left;
    -webkit-transform:skewX(-10deg);
    -moz-transform:skewX(-10deg);
    -ms-transform:skewX(-10deg);
    -o-transform:skewX(-10deg);
    transform:skewX(-10deg);
}

#home-offer .inline .textBox .moreButton{
    font-weight:500;
    text-align:center;
    padding:5px 10px;
    color:rgb(255,255,255);
    cursor:pointer;
    border-radius:2px;
    width:100px;
    position:absolute;
    bottom:12px;
    left:-2px;
    z-index:15;
    background-color:rgb(17,97,73);
    -webkit-transform:skewX(-10deg);
    -moz-transform:skewX(-10deg);
    -ms-transform:skewX(-10deg);
    -o-transform:skewX(-10deg);
    transform:skewX(-10deg);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}


#home-offer .inline .textBox .moreButton:hover{
    background-color:rgb(19,170,82);
}

#home-offer .inline .textBox .icon{
    position:absolute;
    right:20px;
    bottom:5px;
    z-index:20;
    width:50px;
}

#home-about{
    padding:100px 0;
}

#home-about .titleSeparator{
    width:155px;
}

#home-about .quote{
    font-style:italic;
    font-weight:400;
    color:rgb(19,170,82);

}

#home-about .quote p{
    margin-bottom:0px;
}

#home-about .quote .quoteMark{
    color:rgb(9, 47, 30);
    font-weight:700;
}

#home-about .quote .signature{
    text-align: right;
    font-weight:700;
    font-style:normal;
    color:rgb(17,97,73);
}

#home-about .quote .signature .role{
    font-weight:400;
    font-style:italic;
    color:rgb(19,170,82);
}

.pageTitleImage{
    margin-bottom:50px;
    margin-top:50px;
}

.pageTitleImage img{
    margin:0 auto;
}

.pageHeaderFluent{
    padding:50px 20px;
    background: rgb(19,170,82);
    background: linear-gradient(90deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    text-align:center;
}

.pageHeaderFluent .inline{
    width:175px;
    display:inline-block;
    position:relative;
    margin:0 1.5%;
    border-radius:2px;
    background-color:rgba(255,255,255,0);
    vertical-align: top;
    cursor:pointer;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.pageHeaderFluent .inline .icon{
    margin: 0 auto;
    opacity:1;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;

}

.pageHeaderFluent .inline .coloredIcon{
    position:absolute;
    top:0;
    left:50%;
    opacity:0;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.pageHeaderFluent .inline .title{
    font-size:24px;
    font-weight:600;
    color:rgb(255,255,255);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}



.pageHeaderFluent .inline .moreButton{
    font-size:15px;
    font-weight:500;
    margin:0 auto;
    margin-top:5px;
    text-align:center;
    padding:5px 10px;
    opacity:0;
    color:rgb(255,255,255);
    cursor:pointer;
    border-radius:2px;
    width:50%;
    margin-bottom:10px;
    background-color:rgb(17,97,73);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.pageHeaderFluent .inline .moreButton:hover{
    background-color:rgb(19,170,82);
}



.pageHeaderFluent .inline:hover{
    background-color:rgba(255,255,255,1);
}

.pageHeaderFluent .inline:hover .coloredIcon{
    opacity:1;
}

.pageHeaderFluent .inline:hover .icon{
    opacity:0;
}

.pageHeaderFluent .inline:hover .title{
    color:rgb(17,97,73);
}

.pageHeaderFluent .inline:hover .moreButton{
    opacity:1;
}

.bigSection .title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color:rgb(9, 47, 30);
}

.bigSection .separator{
    background: rgb(19,170,82);
    background: linear-gradient(90deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    border-radius: 2px;
    width: 122px;
    height: 10px;
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    margin:15px auto;
    margin-bottom:20px;
}

.bigSection .text{
    text-align:center;
    color:rgb(9, 47, 30);
    width:800px;
    margin:0 auto;
}

.bigSection .text p{
    margin-bottom: 15px;
    margin-top:0px; 
}


.greenTitle{
    background: rgb(19,170,82);
    background: linear-gradient(0deg, rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    text-align:center;
    padding:10px;
    padding-bottom:20px;
}

.greenTitle img{
    margin:0 auto;
}

.greenTitle .icon{
    height:50px;
    margin-bottom:5px;
}






























@media only screen and (max-width: 1200px) {
    .contentWidth{
        width:100%;
        padding-left:20px;
        padding-right:20px;
    }

    .pageHeader #header-logo{display: none}

    .pageHeader .pageTitle {
        font-weight:600;
        font-size:46px;
        padding:0 20px;
    }

    .pageHeader .pageSubtitle {
        font-weight:300;
    }

    .pageHeader .separator{
        display:block;
    }

    .pageHeader .inline{
        margin-top:20px;
        width:18%;
    }

    .pageHeader .inline .moreInfo {
        display:none;
    }

    #home-why, #home-about{
        padding:25px 0;
    }

    #home-offer{
        padding:50px 0;
    }


    #home-offer .inline{
        width:25%;
    }

    #home-offer .inline .textBox{
        height:auto;
        padding-bottom:70px;
    }


    #home-about .textContent{
        padding-left:20px;
    }

}

@media only screen and (max-width: 1100px) {
    
}

@media only screen and (max-width: 1000px) {
    
}

@media only screen and (max-width: 960px) {/*tablet*/
    
}

@media only screen and (max-width: 900px) {
    
    #responsive-menu-opener{display:inline-block;}

    #main-nav-wrap .background{
        background: rgb(19,170,82);
        background: linear-gradient(0deg, rgba(17,97,73,1) 0%, rgba(19,170,82,1) 100%);
    }

    #main-logo{
        width:50%;
    }

    #main-nav-wrap nav{
        float:none;
        display:block;
        position:absolute;
        right:-100%;
        top:39px;
        padding:10px 0;
        background-color:rgba(17,97,73,1);
        -webkit-box-shadow: -2px 2px 2px rgba(0,0,0,0.6) !important;
        -moz-box-shadow: -2px 2px 2px rgba(0,0,0,0.6) !important;
        box-shadow: -2px 2px 2px rgba(0,0,0,0.6) !important;
    }

    #main-nav-wrap nav ul:first-child{
        text-align:center;
    }

    #main-nav-wrap nav ul:first-child li{
        display: block;
        margin:0 25px;
        width:150px;
    }

    #main-nav-wrap nav ul:first-child li a{
        color:rgba(255,255,255,1) !important;
        font-weight:300 !important;
    }

    #main-nav-wrap nav ul:first-child .separator{
        display:block;
    }

    .copyrightWrap{
        text-align:center;
    }

    .copyrightWrap{
        background: linear-gradient(0deg , rgba(19,170,82,1) 0%, rgba(17,97,73,1) 100%);
    }

    .copyrightWrap .logoWrap img{
        margin:0 auto; 
    }

    .copyrightWrap .copyright{
        position:relative;
        display:block;
        line-height:normal;
        margin-top: 10px;
        padding-bottom:10px;
    }

    .pageHeader .pageTitle{
        font-size:40px;
    }


    .dualContent .imageContent .verticalStretch{
        display:block;
    }

    .dualContent .imageContent .box{
        display:none;
    }


    #home-offer .inline{
        margin:15px 25px;
    }


    #home-offer .inline:nth-child(4) {
        margin-top:15px;

    }

    #home-offer .inline .title{
        font-size:28px;
    }

    .gradientBackground .titleSeparator {
        height:5px;
        border-radius:0px;
    }

    #home-offer .inline .textBox .text {
        font-size:14px;
    }
}

@media only screen and (max-width: 800px) {
    #home-offer .inline{
        width:37%;
    }

    #home-offer .inline:nth-child(4) {
        margin-left:25px;
    }
}

@media only screen and (max-width: 700px) {
    
}

@media only screen and (max-width: 650px) {
    .dualContent .textContent, .dualContent .imageContent{
        width:100%;
        padding:10px 0 !important;
        margin:0 !important;
    } 


    .dualContent .imageContent .verticalStretch{
        display:none;
    }

    .dualContent .imageContent .box{
        display:block;
    }

    .dualContent .imageContent img{
        margin:0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .pageHeader .pageTitle {
        font-weight:500;
        font-size:34px;
        padding:0 20px;
    }

    .pageHeader .pageSubtitle{
        font-size:22px;
    }

    .pageHeader .inline{
        width:26%;
    }

    .pageHeader .separator{
        margin-bottom:-10px;
    }

    .copyrightWrap .copyrightResponsive{
        display:block;
    }

    .copyrightWrap .copyright{
        display:none;
    }

    #home-offer .inline{
        width: 80%;
        display: block;
        margin: 30px auto !important;
    }

    #home-offer .inline .title {
        font-size:34px;
    }

    #home-offer .inline .textBox .text {
        font-size:17px;
        font-size:1rem;
    }
}

@media only screen and (max-width: 500px) {
    
}